<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conan_Exiles_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conan_Exiles_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Conan_Exiles_Launcher.Properties.Settings>
            <setting name="SteamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDataPath" serializeAs="String">
                <value />
            </setting>
        </Conan_Exiles_Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Conan_Exiles_Launcher.Properties.Settings>
            <setting name="SavedDataFile" serializeAs="String">
                <value>\conan_exiles_launcher_data.json</value>
            </setting>
            <setting name="GameIni" serializeAs="String">
                <value>\steamapps\common\Conan Exiles\ConanSandbox\Saved\Game.ini</value>
            </setting>
            <setting name="ModlistPath" serializeAs="String">
                <value>\steamapps\common\Conan Exiles\ConanSandbox\Mods\modlist.txt</value>
            </setting>
            <setting name="ServermodlistPath" serializeAs="String">
                <value>\steamapps\common\Conan Exiles\ConanSandbox\servermodlist.txt</value>
            </setting>
            <setting name="WorkshopContent" serializeAs="String">
                <value>\steamapps\workshop\content\440900</value>
            </setting>
            <setting name="SandboxExecutable" serializeAs="String">
                <value>\steamapps\common\Conan Exiles\ConanSandbox\Binaries\Win64\ConanSandbox-Win64-Shipping.exe</value>
            </setting>
            <setting name="SandboxBattleEyeExecutable" serializeAs="String">
                <value>\steamapps\common\Conan Exiles\ConanSandbox\Binaries\Win64\ConanSandbox_BE.exe</value>
            </setting>
        </Conan_Exiles_Launcher.Properties.Settings>
    </applicationSettings>
</configuration>